* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px 20px 0 20px;
}

.shopping-list-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(175deg, #f0f0f0 0%, #787878 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 27px;
  gap: 2.5rem;
}

.shopping-list-card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(135deg, #a2a2a2 0%, #b8b8b8 100%);
  border-radius: 15px;
  z-index: -1;
}

.shopping-list-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.shopping-list-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(25px, 4vw, 50px);
  font-weight: 700;
  margin: 0;
}

.change-name-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.change-name-button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.09);
}

.divider-line {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000000;
}

.divider-line::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -5px;
  right: -5px;
  height: 2.5px;
  background-color: #000000;
  border-radius: 5px;
}

.shopping-list-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.items-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.add-item-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1a46c0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.add-item-button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.09);
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.item-name {
  font-size: clamp(14px, 1.85vw, 27px);
  font-weight: 535;
}

@media (min-width: 1600px) {
  .container {
    display: flex;
    justify-content: center;
  }
  
  .shopping-list-card {
    width: 50%;
  }
}